* {
  margin: 0px;
  padding: 0px;
  border: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 100%;
  overflow-x: hidden;
  font-family: "poping-Regular";
  height: 4000px;
}

button,
.btn {
  background-color: #e52e52 !important;
  border: none !important;
  color: white;
  transition: ease-out 0.6s;
}

button:hover,
.btn:hover {
  background-color: transparent !important;
  color: #e52e52 !important;
}

P {
  width: 100%;
  line-height: 1.5;
  font-family: "poping-Regular";
  width: 100%;
  line-height: 1.5;
  font-family: "poping-Regular";
  font-size: 14px;
  font-weight: normal;
  color: gray;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:visited:focus {
  outline: none;
}

a:active, a:hover,
a:visited:active,
a:visited:hover {
  outline: none;
}

input,
textarea:focus {
  outline: none;
}

button:focus {
  cursor: pointer;
  outline: none;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  max-width: 100%;
  border: 0;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  vertical-align: top;
}

/*=== Import Fonts ===*/
@font-face {
  font-family: 'poping-Bold';
  src: url(../font/poppins-1/Poppins-Bold.otf);
}

@font-face {
  font-family: 'poping-Regular';
  src: url(../font/poppins-1/Poppins-Regular.otf);
}

@font-face {
  font-family: 'poping-italic';
  src: url(../font/poppins-1/Poppins-Italic.otf);
}

@font-face {
  font-family: 'poping-SemiBold';
  src: url(../font/poppins-1/Poppins-SemiBold.otf);
}

@font-face {
  font-family: 'poping-Medium';
  src: url(../font/poppins-1/Poppins-Medium.otf);
}

@font-face {
  font-family: 'poping-Light';
  src: url(../font/poppins-1/Poppins-Light.otf);
}

/*=== Typography Styling ===*/
* {
  font-family: "poping-Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 18px;
}

a:hover {
  color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poping-Bold";
  font-stretch: normal;
  font-weight: bold;
  letter-spacing: normal;
}

.hero {
  color: black;
}

.hero_content {
  text-align: center;
}

.hero_content h1 {
  font-size: 3em;
  font-weight: bolder;
  width: 89%;
  margin: auto;
  text-align: initial;
  width: 49%;
  margin: inherit;
  padding: 30px 0px 100px 0px;
}

.navbar-nav .nav-item {
  padding: 0px 20px;
}

.card {
  width: 100%;
  padding: 68px 30px;
  text-align: initial;
  border-radius: 11px;
  margin-bottom: 35px;
  background-color: #22ffff;
}

.item_2 {
  margin-top: 100px;
}

.card p {
  width: 80%;
}

.features h1 {
  text-align: center;
  padding-bottom: 100px;
}

.row {
  align-items: center;
}

.features_content h2 {
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 7%;
}

li {
  list-style: none;
}

header {
  padding: 30px 0px;
}

.book,
.start_free {
  width: 120px;
}

.menu_buttons .login {
  text-align: end;
}

.menu_buttons {
  float: right;
}

.item_our_offers {
  padding: 0px 2px !important;
  margin: 0px 25px !important;
}

@media only screen and (max-width: 1024px) {
  .item_navbar_menu {
    display: none;
  }
  #mostache {
    display: block !important;
  }
}

@media only screen and (max-width: 560px) {
  .menu_buttons .login {
    display: none;
  }
  .menu_mobile li a {
    font-size: 25px !important;
  }
}

.menu_mobile {
  position: fixed;
  background-color: #37a8f3;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  z-index: 10;
  transition: ease-out 0.6s;
  bottom: 2000px;
}

.menu_mobile li {
  padding: 20px 0px;
}

.menu_mobile li a {
  font-size: 45px;
}

svg {
  z-index: 10;
  position: relative;
}

#mostache {
  display: none;
  transition: ease-out 0.5s;
}

.logo {
  color: #e52e52 !important;
  position: relative;
  z-index: 20;
}

#active {
  color: #2717ff !important;
}

header svg {
  fill: white;
}

header a {
  color: white !important;
  font-family: "poping-Light";
}

header a:hover, header a:focus {
  text-decoration: none !important;
  color: #e52e52 !important;
}

header a::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  transition: width .3s;
  background-color: #e52e52;
}

header a:hover::after {
  transition: width .3s;
  width: 100%;
  margin-top: 10px;
}

header .btn:hover {
  background-color: white !important;
}

.dropdown .btn {
  background: transparent !important;
  color: white;
  font-size: 20px;
}

.dropdown .btn:hover, .dropdown .btn:focus {
  background: transparent !important;
  color: white;
  border: none !important;
}

.dropdown .dropdown-item {
  color: black !important;
}

footer {
  border-bottom: 1px solid white;
  background-color: #0f2041;
  color: white !important;
}

footer p {
  color: white !important;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #e52e52;
  text-decoration: none;
}

footer .row {
  align-items: baseline;
}

footer ul {
  text-align: center;
}

footer ul li {
  padding: 9px 0px;
}

footer ul .btn {
  font-size: 20px;
  color: white;
  padding: 4px 20px;
}

footer ul .btn:hover, footer ul .btn:focus {
  border: 1px solid #e52e52 !important;
  background-color: transparent !important;
  color: #e52e52 !important;
}

footer .coiecl_media__reclamation {
  padding-bottom: 40px;
}

footer .coiecl_media__reclamation .row {
  align-items: flex-end !important;
}

footer .coiecl_media__reclamation .reclamation_policy_faq ul {
  display: flex;
  justify-content: flex-end;
}

footer .coiecl_media__reclamation .reclamation_policy_faq ul li {
  padding: 0px 20px !important;
}

footer .coiecl_media__reclamation .follow_us {
  padding-top: 50px;
}

footer .coiecl_media__reclamation .follow_us svg {
  margin: 10px 10px;
  cursor: pointer;
  transition: ease-out 0.6s;
}

footer .coiecl_media__reclamation .follow_us svg:hover {
  width: 45px;
  height: 45px;
}

footer .coiecl_media__reclamation .follow_us:nth-child(1) {
  margin: 0px !important;
}

.copyright {
  background-color: #0f2041;
  text-align: center;
  padding: 40px 0px;
}

.copyright p {
  color: white !important;
}

.hero_page {
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .hero_page {
    height: 60vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero_page {
    height: 130vh;
  }
}

@media only screen and (max-width: 560px) {
  .hero_page {
    height: auto;
  }
}

.hero_navbar {
  height: 50vh;
  background-image: url("../img/background_home/hero_6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

@media only screen and (max-width: 1024px) {
  .hero_navbar {
    height: 35vh;
  }
}

@media only screen and (max-width: 560px) {
  .hero_navbar {
    height: auto;
  }
}

.form__image {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__image form {
  border: 1px solid black;
  width: 100%;
  background-color: white;
  padding: 35px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px black;
}

.form__image form h3 {
  color: #0f2041;
}

.form__image form label {
  margin: 20px 0px;
  color: #0f2041;
  font-family: "poping-SemiBold";
}

.form__image form #options,
.form__image form #choix_option,
.form__image form #choix_chambre_double,
.form__image form #options_pension,
.form__image form #choices_demi_pension,
.form__image form #start_date,
.form__image form #end_date {
  border: 1px solid black;
  border-radius: 3px;
  height: 34px;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 49%;
}

.form__image form .add_moins {
  text-align: end;
  padding: 10px 0px;
}

.form__image form .add_moins .btn {
  background-color: #0f2041 !important;
  cursor: pointer;
  font-weight: bolder;
  font-size: 23px;
  border-radius: 7px;
  padding: 1px 10px;
  color: white;
}

.form__image form .add_moins .btn:hover {
  border: 1px solid #0f2041 !important;
  color: #0f2041 !important;
  background-color: transparent !important;
}

.form__image form .children {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form__image form .children select {
  display: none;
  border: 1px solid black;
  margin: 16px 0px;
  width: 130px;
  border-radius: 7px;
}

.form__image form .children .plus_moix_chlid {
  width: 130px;
  padding: 16px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 1px black;
}

.form__image form .children .plus_moix_chlid label {
  font-size: 11px;
  margin: 10px 0px;
}

.form__image form .children .plus_moix_chlid .btn {
  background-color: #0f2041 !important;
  cursor: pointer;
  font-weight: bolder;
  font-size: 13px;
  border-radius: 3px;
  padding: 1px 8px;
  color: white;
}

.form__image form .children .plus_moix_chlid .btn:hover {
  border: 1px solid #0f2041 !important;
  color: #0f2041 !important;
  background-color: transparent !important;
}

.form__image form .children .plus_moix_chlid input {
  width: 30%;
  border: 1px solid #0f2041;
  border-radius: 4px;
  text-align: center;
}

.form__image form .date {
  padding: 25px 0px 20px 0px;
}

.form__image form .date input {
  background-color: #f0f0f0;
  height: 50px !important;
}

.form__image form .chickbox_input label {
  margin: 0px 0px !important;
  font-family: "poping-Light";
  padding-left: 10px;
}

.form__image form button {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  margin-top: 15px;
}

.form__image form button:hover {
  border: 1px solid #e52e52 !important;
}

.form__image .blob {
  width: 600px;
  height: 400px;
  background-image: url("../img/Chambre_Simple.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: animate 5s linear infinite;
  position: relative;
  left: 50px;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
  }
  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}

@media only screen and (max-width: 1024px) {
  .form__image .blob {
    width: 450px;
    left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .form__image {
    display: block;
  }
  .form__image form {
    width: 80%;
    margin: 20px auto 54px auto;
  }
  .form__image .blob {
    width: 450px;
    margin: auto;
    left: auto;
  }
}

@media only screen and (max-width: 560px) {
  .form__image form {
    width: 100%;
  }
  .form__image form select {
    display: block;
    width: 100% !important;
  }
  .form__image form .children {
    display: block;
  }
  .form__image form .children .plus_moix_chlid {
    margin: auto;
    margin-bottom: 20px;
  }
  .form__image form .date input {
    display: block;
    width: 100% !important;
  }
  .form__image .blob {
    width: 350px;
  }
}

.features {
  margin-top: 50px;
  color: #0f2041 !important;
}

.features .features_content {
  padding: 30px 0px;
}

.features .btn:hover {
  border: 1px solid #e52e52 !important;
}

.features .card {
  padding: 25px;
  box-shadow: 0px 0px 7px 3px black;
}

.features .card svg {
  margin-bottom: 20px;
}

.video_secion {
  background-image: url("../img/background_home/hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  margin-top: 40px;
  padding: 35px 0px;
}

.video_secion p {
  color: black;
}

.video_secion video {
  width: 120%;
  position: relative;
  bottom: 70px;
  box-shadow: 0px 0px 6px 1px black;
}

.video_secion .conetnt {
  background-color: white;
  margin-left: auto;
  padding: 40px;
  border-radius: 10px;
}

.video_secion .conetnt .btn:hover {
  border: 1px solid #e52e52 !important;
}

@media only screen and (max-width: 560px) {
  video {
    width: 100% !important;
  }
  .conetnt {
    width: 100%;
    text-align: center;
  }
}

.secstion_4 .section4__content h2 {
  font-size: 45px !important;
  text-align: end;
}

.secstion_4 .section4__content h3 {
  text-align: end;
  font-family: auto;
  font-size: 35px;
}

.secstion_4 .section4__content p {
  width: 60%;
  line-height: 1.8;
}

.secstion_4 .section4__content .section_4__btn {
  text-align: end;
  padding: 30px 0px;
}

.secstion_4 .section4__content .section_4__btn .btn {
  color: white;
  padding: 10px 40px;
}

.secstion_4 .section4__content .section_4__btn .btn:hover {
  background-color: white !important;
  border: 1px solid #e52e52 !important;
}

body {
  height: 100vh;
}

.navbar_contact {
  background-color: black;
}

.navbar_contact header {
  padding: 0px 0px;
}

.contact_us .img__contact_us {
  height: 100vh;
}

.contact_us .img__contact_us img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.contact_us .zone_form {
  height: 100vh;
  padding: 50px 20px 0px 20px;
}

.contact_us .zone_form h2 {
  font-size: 50px;
}

.contact_us .zone_form form label {
  display: block;
}

.contact_us .zone_form form .zone_input {
  padding: 20px 0px;
}

.contact_us .zone_form form input,
.contact_us .zone_form form textarea {
  outline: none;
  border-bottom: 1px solid black;
  width: 70%;
  height: 40px;
  padding-left: 10px;
}

.contact_us .zone_form form input:hover, .contact_us .zone_form form input:focus,
.contact_us .zone_form form textarea:hover,
.contact_us .zone_form form textarea:focus {
  border-bottom: 1px solid #3385f1;
  box-shadow: 0px 0px 1px 0px black;
}

.contact_us .zone_form form textarea {
  height: 120px;
  padding-top: 10px;
}

.contact_us .zone_form form button {
  display: block;
  width: 70%;
  padding: 20px;
  border-radius: 7px;
  margin-top: 15px;
}

.contact_us .zone_form form button:hover {
  border: 1px solid #e52e52 !important;
}

.contact_us .zone_form .follow_us {
  width: 70%;
  padding: 40px 0px 20px 0px;
  text-align: center;
}

.contact_us .zone_form .follow_us h2 {
  font-size: 30px;
}

.contact_us .zone_form .follow_us svg {
  margin: 10px 20px;
  cursor: pointer;
  transition: ease-out 0.6s;
}

.contact_us .zone_form .follow_us svg:hover {
  width: 45px;
  height: 45px;
}

.contact_us .back_to_home {
  text-align: end;
  width: 70%;
}

.contact_us .back_to_home a {
  text-decoration: none;
  font-size: 20px;
  color: #e52e52;
}

.contact_us .back_to_home a:hover,
.contact_us .back_to_home a:hover svg {
  color: #0f2041 !important;
  fill: #0f2041;
}

.contact_us .back_to_home a svg {
  fill: #e52e52;
}

@media only screen and (max-width: 768px) {
  .contact_us .img__contact_us img {
    width: 100%;
  }
  .contact_us input,
  .contact_us textarea,
  .contact_us button,
  .contact_us .back_to_home,
  .contact_us .follow_us {
    width: 100% !important;
  }
  .contact_us .follow_us {
    padding: 40px 0px 20px 0px;
  }
  .contact_us .follow_us svg {
    margin: 10px !important;
  }
}

@media only screen and (max-width: 560px) {
  .contact_us .col-12 {
    padding: 0px !important;
  }
  .contact_us .img__contact_us {
    height: 40vh;
  }
  .contact_us .back_to_home {
    padding-bottom: 30px;
  }
}

.zone_connexion_1 {
  width: 30%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 3px black;
  margin-top: 100px;
  margin: auto;
  text-align: center;
  height: 800px;
  position: fixed;
  top: 63px;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 0px;
}

.zone_connexion_1 .zone_input {
  padding: 20px 0px;
}

.zone_connexion_1 h2 {
  padding-bottom: 20px;
}

.zone_connexion_1 label {
  display: block;
}

.zone_connexion_1 input,
.zone_connexion_1 .connect_wit_hgoogle,
.zone_connexion_1 .connect_with_fb {
  outline: none;
  border-bottom: 1px solid black;
  width: 70%;
  height: 40px;
  padding-left: 10px;
}

.zone_connexion_1 input:hover, .zone_connexion_1 input:focus,
.zone_connexion_1 .connect_wit_hgoogle:hover,
.zone_connexion_1 .connect_wit_hgoogle:focus,
.zone_connexion_1 .connect_with_fb:hover,
.zone_connexion_1 .connect_with_fb:focus {
  border-bottom: 1px solid #3385f1;
  box-shadow: 0px 0px 1px 0px black;
}

.zone_connexion_1 .checkbox_zone {
  display: flex;
  align-items: center;
  position: relative;
  left: 90px;
}

.zone_connexion_1 .checkbox_zone input {
  width: 4%;
}

.zone_connexion_1 .checkbox_zone label {
  position: relative;
  left: 20px;
  top: 6px;
}

.zone_connexion_1 .zone_btn {
  text-align: -webkit-center;
}

.zone_connexion_1 button {
  display: block;
  width: 70%;
  padding: 15px 0px;
  border-radius: 7px;
  margin-top: 15px;
  color: white;
}

.zone_connexion_1 button:hover {
  border: 1px solid #e52e52 !important;
}

.zone_connexion_1 p {
  padding: 30px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.zone_connexion_1 .sign_with {
  text-align: center;
}

.zone_connexion_1 .sign_with svg {
  margin: 10px 20px;
  cursor: pointer;
  transition: ease-out 0.6s;
}

.zone_connexion_1 .sign_with svg:hover {
  width: 45px;
  height: 45px;
}
