* {
  margin: 0px;
  padding: 0px;
  border: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 100%;
  overflow-x: hidden;
  font-family: "poping-Regular";
  height: 4000px;
}

button,
.btn {
  background-color: white !important;
  border: none !important;
  color: #509ee2 !important;
  transition: ease-out 0.6s;
}

button:hover,
.btn:hover {
  background-color: transparent !important;
  color: #509ee2 !important;
  border: 1px solid #509ee2;
}

P {
  width: 100%;
  line-height: 1.5;
  font-family: "poping-Regular";
  width: 100%;
  line-height: 1.5;
  font-family: "poping-Regular";
  font-size: 14px;
  font-weight: normal;
  color: gray;
}

.back_to_home {
  text-align: end;
  width: 70%;
}

.back_to_home a {
  text-decoration: none;
  font-size: 20px;
  color: #509ee2;
}

.back_to_home a:hover,
.back_to_home a:hover svg {
  color: #0f2041 !important;
  fill: #0f2041;
}

.back_to_home a svg {
  fill: #509ee2;
}

span {
  color: #e52e52;
}

table {
  border: none;
  border-collapse: collapse;
  padding: 0;
  border-left: none;
  border-right: none;
}

table th {
  background-color: #509ee2;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 20px 30px;
  border: 1px solid #509ee2;
}

table td {
  background-color: white;
  color: black;
  padding: 20px 30px;
  text-align: center;
  border: 1px solid #509ee2;
}

table td .icon_crud a svg:hover {
  fill: #509ee2;
}

.test {
  position: absolute;
  background-color: #509ee2;
  width: 40%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 10;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:visited:focus {
  outline: none;
}

a:active, a:hover,
a:visited:active,
a:visited:hover {
  outline: none;
}

input,
textarea:focus {
  outline: none;
}

button:focus {
  cursor: pointer;
  outline: none;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  max-width: 100%;
  border: 0;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  vertical-align: top;
}

/*=== Import Fonts ===*/
@font-face {
  font-family: 'poping-Bold';
  src: url(../font/poppins-1/Poppins-Bold.otf);
}

@font-face {
  font-family: 'poping-Regular';
  src: url(../font/poppins-1/Poppins-Regular.otf);
}

@font-face {
  font-family: 'poping-italic';
  src: url(../font/poppins-1/Poppins-Italic.otf);
}

@font-face {
  font-family: 'poping-SemiBold';
  src: url(../font/poppins-1/Poppins-SemiBold.otf);
}

@font-face {
  font-family: 'poping-Medium';
  src: url(../font/poppins-1/Poppins-Medium.otf);
}

@font-face {
  font-family: 'poping-Light';
  src: url(../font/poppins-1/Poppins-Light.otf);
}

@font-face {
  font-family: 'RowanMaskide';
  src: url(../font/rowan_maskide/RowanMaskide.ttf);
}

/*=== Typography Styling ===*/
* {
  font-family: "poping-Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 18px;
}

a:hover {
  color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poping-Bold";
  font-stretch: normal;
  font-weight: bold;
  letter-spacing: normal;
}

.hero {
  color: black;
}

.hero_content {
  text-align: center;
}

.hero_content h1 {
  font-size: 3em;
  font-weight: bolder;
  width: 89%;
  margin: auto;
  text-align: initial;
  width: 49%;
  margin: inherit;
  padding: 30px 0px 100px 0px;
}

.navbar-nav .nav-item {
  padding: 0px 20px;
}

.card {
  width: 100%;
  padding: 68px 30px;
  text-align: initial;
  border-radius: 11px;
  margin-bottom: 35px;
  background-color: #22ffff;
}

.item_2 {
  margin-top: 100px;
}

.card p {
  width: 80%;
}

.features h1 {
  text-align: center;
  padding-bottom: 100px;
}

.row {
  align-items: center;
}

.features_content h2 {
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 7%;
}

li {
  list-style: none;
}

header {
  padding: 30px 0px;
}

.book,
.start_free {
  width: 120px;
}

.menu_buttons .login {
  text-align: end;
}

.menu_buttons {
  float: right;
}

.item_our_offers {
  padding: 0px 2px !important;
  margin: 0px 25px !important;
}

@media only screen and (max-width: 1024px) {
  .item_navbar_menu {
    display: none;
  }
  #mostache {
    display: block !important;
  }
}

@media only screen and (max-width: 560px) {
  .menu_buttons .login {
    display: none;
  }
  .menu_mobile li a {
    font-size: 25px !important;
  }
}

.menu_mobile {
  position: fixed;
  background-color: #0f2041;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  z-index: 300;
  transition: ease-out 0.6s;
  bottom: 2000px;
}

.menu_mobile .btn:hover {
  background-color: white !important;
}

.menu_mobile li {
  padding: 20px 0px;
}

.menu_mobile li a {
  color: white !important;
  font-family: "poping-Light";
}

.menu_mobile li a:hover {
  text-decoration: none !important;
  color: #e52e52 !important;
}

svg {
  z-index: 10;
  position: relative;
}

#mostache {
  display: none;
  transition: ease-out 0.5s;
  cursor: pointer;
}

.logo {
  color: #e52e52 !important;
  position: relative;
  z-index: 20;
}

header {
  position: relative;
  z-index: 500;
}

header svg {
  fill: white;
}

header a {
  color: black !important;
  font-family: "poping-Light";
  font-weight: bold;
}

header a:hover {
  text-decoration: none !important;
  color: #509ee2 !important;
}

header .login {
  color: white !important;
}

header .login:hover {
  color: white !important;
}

header a::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  transition: width .3s;
  background-color: #509ee2;
}

header .login a::after {
  background-color: white !important;
}

header a:hover::after {
  transition: width .3s;
  width: 100%;
  margin-top: 10px;
}

header .book_btn_header:hover::after {
  width: 0%;
  margin-top: 0px;
}

header .btn:hover {
  border: 1px solid white !important;
  background-color: transparent !important;
  color: white !important;
}

.dropdown .btn {
  background: transparent !important;
  color: white !important;
  font-size: 20px;
}

.dropdown .btn:hover, .dropdown .btn:focus {
  background: transparent !important;
  color: white;
  border: none !important;
}

.dropdown .dropdown-item {
  color: black !important;
}

.footer {
  background-color: #f7f8fa;
  color: #0f2041;
  padding-top: 80px;
}

.footer .row {
  align-items: flex-start;
}

.footer .footer_content {
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.footer p {
  color: #0f2041;
}

.footer li {
  padding: 15px 0px;
  cursor: pointer;
}

.footer li:hover {
  color: #509ee2;
}

.footer li svg {
  margin: 0px 10px !important;
  cursor: pointer;
}

.footer li svg:hover {
  height: 55px;
  width: 55px;
}

.footer .copy {
  padding: 30px 0px 50px 0px;
}

.footer .copy p {
  text-align: end;
}

.footer .copy .row {
  align-items: center;
}

@media only screen and (max-width: 560px) {
  .footer {
    text-align: center;
  }
  .footer p {
    text-align: center !important;
  }
}

.hero_page {
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .hero_page {
    height: 60vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero_page {
    height: 130vh;
  }
}

@media only screen and (max-width: 560px) {
  .hero_page {
    height: auto;
  }
}

.hero_page .hero_navbar {
  height: 60vh;
  background-image: url("../img/big-tiny-belly-XtnNrQYC7ts-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #509ee2;
  background-position: bottom;
}

@media only screen and (max-width: 1024px) {
  .hero_page .hero_navbar {
    height: 35vh;
  }
}

@media only screen and (max-width: 560px) {
  .hero_page .hero_navbar {
    height: auto;
  }
}

.form__image {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__image form {
  border: 1px solid black;
  width: 100%;
  background-color: white;
  padding: 35px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px black;
}

.form__image form h3 {
  color: #0f2041;
}

.form__image form label {
  margin: 20px 0px;
  color: #0f2041;
  font-family: "poping-SemiBold";
}

.form__image form #options,
.form__image form #choix_option,
.form__image form #choix_chambre_double,
.form__image form .options_pension,
.form__image form #choices_demi_pension,
.form__image form #start_date,
.form__image form #end_date {
  border: 1px solid black;
  border-radius: 3px;
  height: 34px;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 100%;
}

.form__image form .add_moins {
  text-align: end;
  padding: 10px 0px;
}

.form__image form .add_moins .btn {
  background-color: #509ee2 !important;
  cursor: pointer;
  font-weight: bolder;
  font-size: 23px;
  border-radius: 7px;
  padding: 1px 10px;
  color: white !important;
}

.form__image form .add_moins .btn:hover {
  border: 1px solid #509ee2 !important;
  color: #509ee2 !important;
  background-color: transparent !important;
}

.form__image form .children {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form__image form .children label {
  margin: 15px 0px 5px 0px;
}

.form__image form .children select {
  display: block;
  border: 1px solid black;
  margin: 10px 0px;
  width: 100px;
  border-radius: 7px;
  margin: auto;
}

.form__image form .children .plus_moix_chlid {
  width: 130px;
  padding: 16px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 1px black;
}

.form__image form .children .plus_moix_chlid label {
  font-size: 11px;
  margin: 10px 0px;
}

.form__image form .children .plus_moix_chlid .btn {
  background-color: #509ee2 !important;
  font-weight: bolder;
  font-size: 13px;
  border-radius: 3px;
  padding: 1px 8px;
  color: white !important;
}

.form__image form .children .plus_moix_chlid .btn:hover {
  border: 1px solid #509ee2 !important;
  color: #509ee2 !important;
  background-color: transparent !important;
}

.form__image form .children .plus_moix_chlid input {
  width: 30%;
  border: 1px solid #0f2041;
  border-radius: 4px;
  text-align: center;
}

.form__image form .date {
  padding: 25px 0px 20px 0px;
}

.form__image form .date input {
  background-color: #f0f0f0;
  height: 50px !important;
}

.form__image form .chickbox_input label {
  margin: 0px 0px !important;
  font-family: "poping-Light";
  padding-left: 10px;
}

.form__image form button {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  margin-top: 15px;
  background-color: #509ee2 !important;
  color: white !important;
}

.form__image form button:hover {
  border: 1px solid #509ee2 !important;
  background-color: transparent !important;
  color: #509ee2 !important;
}

.form__image .blob {
  width: 600px;
  height: 400px;
  background-image: url("../img/Chambre_Simple.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: animate 5s linear infinite;
  position: relative;
  left: 50px;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
  }
  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}

@media only screen and (max-width: 1024px) {
  .form__image .blob {
    width: 450px;
    left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .form__image {
    display: block;
  }
  .form__image form {
    width: 80%;
    margin: 20px auto 54px auto;
  }
  .form__image .blob {
    width: 450px;
    margin: auto;
    left: auto;
  }
}

@media only screen and (max-width: 560px) {
  .form__image form {
    width: 100%;
  }
  .form__image form select {
    display: block;
    width: 100% !important;
  }
  .form__image form .children {
    display: block;
  }
  .form__image form .children .plus_moix_chlid {
    margin: auto;
    margin-bottom: 20px;
  }
  .form__image form .date input {
    display: block;
    width: 100% !important;
  }
  .form__image .blob {
    width: 350px;
  }
}

.features {
  margin-top: 50px;
  color: #0f2041 !important;
}

.features .features_content {
  padding: 30px 0px;
}

.features .btn {
  background-color: #509ee2 !important;
  color: white !important;
  padding: 10px 30px;
}

.features .btn:hover {
  background-color: white !important;
  color: #509ee2 !important;
  border: 1px solid #509ee2 !important;
}

.features .card {
  padding: 25px;
  box-shadow: 0px 0px 7px 3px black;
}

.features .card svg {
  margin-bottom: 20px;
}

@media only screen and (max-width: 560px) {
  video {
    width: 100% !important;
  }
  .conetnt {
    width: 100%;
    text-align: center;
  }
}

.secstion_4 .section4__content h2 {
  font-size: 45px !important;
  text-align: end;
}

.secstion_4 .section4__content h3 {
  text-align: end;
  font-family: auto;
  font-size: 35px;
}

.secstion_4 .section4__content p {
  width: 60%;
  line-height: 1.8;
}

.secstion_4 .section4__content .section_4__btn {
  text-align: end;
  padding: 30px 0px;
}

.secstion_4 .section4__content .section_4__btn .btn {
  background-color: #509ee2 !important;
  color: white !important;
  padding: 10px 40px;
}

.secstion_4 .section4__content .section_4__btn .btn:hover {
  background-color: white !important;
  color: #509ee2 !important;
  border: 1px solid #509ee2 !important;
}

body {
  height: 100vh;
}

.navbar_contact {
  background-color: black;
}

.navbar_contact header {
  padding: 0px 0px;
}

.contact_us .img__contact_us {
  height: 100vh;
}

.contact_us .img__contact_us img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.contact_us .zone_form {
  height: 100vh;
  padding: 50px 20px 0px 20px;
}

.contact_us .zone_form h2 {
  font-size: 50px;
}

.contact_us .zone_form form label {
  display: block;
}

.contact_us .zone_form form .zone_input {
  padding: 20px 0px;
}

.contact_us .zone_form form input,
.contact_us .zone_form form textarea {
  outline: none;
  border-bottom: 1px solid black;
  width: 70%;
  height: 40px;
  padding-left: 10px;
}

.contact_us .zone_form form input:hover, .contact_us .zone_form form input:focus,
.contact_us .zone_form form textarea:hover,
.contact_us .zone_form form textarea:focus {
  border-bottom: 1px solid #3385f1;
  box-shadow: 0px 0px 1px 0px black;
}

.contact_us .zone_form form textarea {
  height: 120px;
  padding-top: 10px;
}

.contact_us .zone_form form button {
  display: block;
  width: 70%;
  padding: 20px;
  border-radius: 7px;
  margin-top: 15px;
  background-color: #509ee2 !important;
  color: white !important;
}

.contact_us .zone_form form button:hover {
  border: 1px solid #509ee2 !important;
  background-color: transparent !important;
  color: #509ee2 !important;
}

.contact_us .zone_form .follow_us {
  width: 70%;
  padding: 40px 0px 20px 0px;
  text-align: center;
}

.contact_us .zone_form .follow_us h2 {
  font-size: 30px;
}

.contact_us .zone_form .follow_us svg {
  margin: 10px 20px;
  cursor: pointer;
  transition: ease-out 0.6s;
}

.contact_us .zone_form .follow_us svg:hover {
  width: 45px;
  height: 45px;
}

@media only screen and (max-width: 768px) {
  .contact_us .img__contact_us img {
    width: 100%;
  }
  .contact_us input,
  .contact_us textarea,
  .contact_us button,
  .contact_us .back_to_home,
  .contact_us .follow_us {
    width: 100% !important;
  }
  .contact_us .follow_us {
    padding: 40px 0px 20px 0px;
  }
  .contact_us .follow_us svg {
    margin: 10px !important;
  }
}

@media only screen and (max-width: 560px) {
  .contact_us .col-12 {
    padding: 0px !important;
  }
  .contact_us .img__contact_us {
    height: 40vh;
  }
  .contact_us .back_to_home {
    padding-bottom: 30px;
  }
}

.zone_connexion_1 {
  width: 30%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 3px black;
  margin-top: 100px;
  margin: auto;
  text-align: center;
  height: 850px;
  position: fixed;
  top: 63px;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 13px;
  text-align: -moz-center;
}

.zone_connexion_1 .zone_input {
  padding: 20px 0px;
}

.zone_connexion_1 h2 {
  padding-bottom: 20px;
}

.zone_connexion_1 label {
  display: block;
}

.zone_connexion_1 input,
.zone_connexion_1 .connect_wit_hgoogle,
.zone_connexion_1 .connect_with_fb,
.zone_connexion_1 textarea {
  outline: none;
  border-bottom: 1px solid black;
  width: 70%;
  height: 40px;
  padding-left: 10px;
}

.zone_connexion_1 input:hover, .zone_connexion_1 input:focus,
.zone_connexion_1 .connect_wit_hgoogle:hover,
.zone_connexion_1 .connect_wit_hgoogle:focus,
.zone_connexion_1 .connect_with_fb:hover,
.zone_connexion_1 .connect_with_fb:focus,
.zone_connexion_1 textarea:hover,
.zone_connexion_1 textarea:focus {
  border-bottom: 1px solid #3385f1;
  box-shadow: 0px 0px 1px 0px black;
}

.zone_connexion_1 .checkbox_zone {
  display: flex;
  align-items: center;
  position: relative;
  left: 90px;
}

.zone_connexion_1 .checkbox_zone input {
  width: 4%;
}

.zone_connexion_1 .checkbox_zone label {
  position: relative;
  left: 20px;
  top: 6px;
}

.zone_connexion_1 .zone_btn {
  text-align: -webkit-center;
}

.zone_connexion_1 button {
  padding: 15px 0px;
  border-radius: 7px;
  margin-top: 15px;
  color: white;
}

.zone_connexion_1 button:hover {
  border: 1px solid #e52e52 !important;
}

.zone_connexion_1 .btn {
  display: block;
  width: 70%;
  background-color: #509ee2 !important;
  color: white !important;
  padding: 15px 40px;
  border-radius: 7px;
  margin-top: 15px;
}

.zone_connexion_1 .btn:hover {
  background-color: white !important;
  color: #509ee2 !important;
  border: 1px solid #509ee2 !important;
}

.zone_connexion_1 p {
  padding: 30px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.zone_connexion_1 .sign_with {
  text-align: center;
}

.zone_connexion_1 .sign_with svg {
  margin: 10px 20px;
  cursor: pointer;
  transition: ease-out 0.6s;
}

.zone_connexion_1 .sign_with svg:hover {
  width: 45px;
  height: 45px;
}

.zone_connexion_1 .back_to_home {
  text-align: center;
  width: 100%;
  padding: 30px 0px;
}

.zone_connexion_1 .back_to_home a {
  text-decoration: none;
  font-size: 20px;
  color: #509ee2 !important;
}

.zone_connexion_1 .back_to_home a:hover,
.zone_connexion_1 .back_to_home a:hover svg {
  color: #0f2041 !important;
  fill: #0f2041;
}

.zone_connexion_1 .back_to_home a svg {
  fill: #509ee2;
}

@media only screen and (max-width: 768px) {
  .zone_connexion_1 {
    width: 90%;
    position: fixed;
    top: 0px;
    padding: 13px 13px;
    transform: translate(0px, 10px);
  }
}

@media only screen and (max-width: 560px) {
  .zone_connexion_1 {
    position: fixed;
    top: 0px;
    padding: 13px 13px;
    transform: translate(7px, 5px);
    height: 900px;
  }
  .zone_connexion_1 .checkbox_zone {
    left: 40px;
  }
}

.dashboard {
  display: flex;
  padding: 25px 50px;
}

.dashboard .sidebar {
  width: 18%;
  background-color: #509ee2;
  height: 95vh;
  border-radius: 20px;
  padding-top: 100px;
}

.dashboard .sidebar .item_menu {
  padding: 18px 0px;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  transition: ease-out 0.6s;
}

.dashboard .sidebar .item_menu:hover {
  background-color: white;
  color: #509ee2;
  border: none;
  border-right: 8px solid #509ee2;
}

.dashboard .managment {
  width: 80%;
  background-color: white;
  box-shadow: 0px 0px 7px 3px black;
  height: 95vh;
  border-radius: 20px;
  margin-left: auto;
  padding: 30px 50px;
  color: #0f2041;
  text-align: center;
}

.dashboard .managment .card {
  box-shadow: 0px 0px 5px 1px black;
  background-color: #509ee2;
  padding: 15px 0px;
  height: 125px;
  color: white;
  text-align: center;
}

.dashboard .managment input {
  border: 1px solid #0f2041;
  height: 48px;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
  width: 30%;
}

.dashboard .managment input:hover, .dashboard .managment input:focus {
  border: 1px solid #3385f1;
  box-shadow: 0px 0px 1px 0px black;
}

.dashboard .managment .btn {
  background-color: #509ee2 !important;
  color: white !important;
  padding: 10px 40px;
  z-index: 100;
  cursor: pointer;
}

.dashboard .managment .btn:hover {
  background-color: transparent !important;
  color: #509ee2 !important;
  border: 2px solid #509ee2 !important;
}

.dashboard .managment .h2 {
  font-family: 'RowanMaskide';
  color: #0f2041;
  font-size: 40px;
}

.dashboard .managment .back_to_home {
  position: relative;
  top: 40px;
  width: 100% !important;
}

.dashboard .managment .zone_table {
  text-align: center;
  padding-top: 60px;
  text-align: -moz-center;
  text-align: -webkit-center;
  height: 560px;
  overflow: scroll;
}

.dashboard .managment .zone_table .row {
  align-items: initial;
}

.dashboard .managment .zone_table .row .col-xxl-6 {
  text-align: -moz-center;
}

.reclamation input {
  margin: 10px 0px !important;
}

.reclamation textarea {
  height: 150px;
  padding-top: 10px;
}

.reclamation .zone_btn {
  margin-top: 40px;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.page_client_info {
  background-image: url("../img/background_home/hero_10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background_home/hero_10.jpg);
  background-attachment: fixed;
  background-position: bottom !important;
  height: auto;
}

.page_client_info .hero_navbar {
  background: transparent !important;
  height: 20vh;
}

.zone_client_informations {
  padding-bottom: 100px;
}

.zone_client_informations h1 {
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: white;
  color: #0f2041;
  border-radius: 10px;
}

.zone_client_informations .card {
  box-shadow: 0px 0px 7px 3px black;
  background-color: #0f2041 !important;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.zone_client_informations .card .client_name {
  padding: 40px 0px;
}

.zone_client_informations .card .client_service,
.zone_client_informations .card .client_child,
.zone_client_informations .card .client_date {
  padding: 30px 0px;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.zone_client_informations .card .client_service h4,
.zone_client_informations .card .client_child h4,
.zone_client_informations .card .client_date h4 {
  padding: 20px 0px;
  width: 13%;
  margin: auto;
}

.zone_client_informations .card .client_service th,
.zone_client_informations .card .client_child th,
.zone_client_informations .card .client_date th {
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 20px 30px;
  border: 1px solid white;
}

.zone_client_informations .card .client_prix {
  padding-top: 20px;
}

.zone_client_informations .card .client_prix .prix_text {
  padding: 20px 0px;
  background-color: white;
  color: #0f2041;
  border-radius: 10px;
}

.our_offers {
  height: 70vh !important;
}

.our_offers .hero {
  width: 40%;
  float: right;
  color: white !important;
}

.our_offers .hero h1 {
  font-size: 60px;
}

.our_offers .hero p {
  color: white;
}

.our_offers .hero .btn {
  padding: 10px 30px !important;
  color: white;
}

.our_offers .hero .btn:hover {
  background-color: white !important;
  color: #e52e52 !important;
}

.container_2 {
  padding: 0px 10%;
}

.hero_vh {
  height: 100vh;
}

.index_page {
  position: relative;
  z-index: 100;
}

.index_page a {
  color: black !important;
  font-weight: bolder;
}

.index_page .login {
  color: white !important;
}

.hero {
  position: relative;
  z-index: 100;
}

.hero .row {
  align-items: flex-start;
}

.hero .hero_content {
  width: 100%;
  text-align: start;
  z-index: 100;
  position: relative;
  left: 150px;
}

.hero .hero_content h1 {
  width: 100%;
  position: relative;
  padding: 0px;
  padding-bottom: 30px !important;
  z-index: 100;
}

.hero .hero_content p {
  width: 60%;
  z-index: 100;
}

.hero .hero_content .btn {
  background-color: #509ee2 !important;
  color: white !important;
  padding: 10px 40px;
  z-index: 100;
  cursor: pointer;
}

.hero .hero_content .btn:hover {
  background-color: transparent !important;
  color: #509ee2 !important;
  border: 2px solid #509ee2 !important;
}

.hero .hero_content h1,
.hero .hero_content p,
.hero .hero_content .btn {
  position: relative;
  left: 70px;
  top: 30px;
}

.hero .hero_sous_img {
  position: relative;
  z-index: 100;
  padding: 200px 0px 80px 0px;
  right: 100px;
}

.hero .hero_img {
  width: 120%;
  position: relative;
  right: 100px;
  z-index: 0;
}

.hero .hero_img img {
  height: 550px;
}

@media only screen and (max-width: 1440px) {
  .hero_content {
    left: 0px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .test {
    width: 37%;
  }
  .hero_sous_img {
    padding: 50px 0px !important;
    right: 0px !important;
  }
  .hero_img {
    width: 100% !important;
    right: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .test {
    width: 34%;
  }
  .hero_content h1,
  .hero_content p,
  .hero_content .btn {
    left: 0px !important;
  }
  .hero_sous_img {
    padding: 50px 0px !important;
    right: 0px !important;
    left: 0px;
  }
  .hero_img {
    width: 100% !important;
    right: 0px !important;
  }
}

@media only screen and (max-width: 560px) {
  .test {
    width: 55%;
  }
  .hero_content h1,
  .hero_content p,
  .hero_content .btn {
    left: 0px !important;
  }
  .hero_sous_img {
    display: none;
  }
  .hero_img {
    width: 100% !important;
    right: 0px !important;
    top: 60px;
  }
}

.section_2 .row {
  align-items: flex-start;
}

.section_2 .section_2__icontent h2 {
  font-size: 36px;
  padding: 24px 0px;
  font-weight: bold;
}

.section_2 .section_2__icontent .feutures {
  width: 70%;
  margin-left: auto;
}

.section_2 .section_2__icontent .feutures .titre_fearutes {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.section_2 .section_2__icontent .feutures .titre_fearutes svg {
  fill: #509ee2 !important;
}

.section_2 .section_2__icontent .feutures .titre_fearutes h3 {
  margin-left: 10px;
}

.section_2 .section_2__icontent .section_2_content_img {
  position: relative;
  right: 150px;
  top: 40px;
}

.section_2 .section_2__icontent .section_2_content_img img {
  width: 75%;
  box-shadow: 0px 0px 10px 1px black;
}

@media only screen and (max-width: 1024px) {
  .section_2 .section_2_content_img {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  .section_2 {
    margin-top: 200px !important;
    text-align: -moz-center;
    text-align: -webkit-center;
  }
  .section_2 .section_2__img {
    width: 60%;
    text-align: center;
  }
  .section_2 .feutures {
    margin: auto;
  }
}

@media only screen and (max-width: 560px) {
  .section_2 {
    margin-top: 560px !important;
  }
  .section_2 .feutures {
    width: 100% !important;
  }
}

.section-3 {
  margin-top: 100px;
  padding: 80px 0px;
  background-image: url("../img/our_offers/hero_index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/our_offers/hero_index.jpg);
  background-attachment: fixed;
}

.section-3 .card {
  padding: 20px 29px;
  border-radius: 13px;
  box-shadow: 0px 0px 3px 0px black;
}

.section-3 .card svg {
  fill: #509ee2;
}

.section-3 .card h4 {
  padding: 10px 0px;
}

.section-3 .card p {
  width: 100%;
}

.section_5 {
  margin-top: 100px;
}

.section_5 h2 {
  font-size: 36px;
  font-weight: bold;
}

.section_5 p {
  font-size: 18px;
}

.section_5 .section_5_our_service {
  text-align: center;
}

.section_5 .section_5_our_service img {
  height: 100%;
}

.section_5 .section_5_our_service .row {
  text-align: start;
  align-items: center;
  margin-top: 60px;
}

.section_5 .section_5_our_service .row .srevice_1 {
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
  width: 80%;
  border-radius: 7px;
}

.section_5 .section_5_our_service .row .srevice_1 p {
  font-size: 15px;
  line-height: 17px;
}

.section_5 .section_5_our_service .row .srevice_1 svg {
  width: 60px;
  height: 60px;
  fill: #509ee2 !important;
}

.section_5 .section_5_our_service .row .srevice_1 .text {
  width: 80% !important;
  margin-left: auto;
}

.section_5 .section_5_our_service .row .srevice_1:hover {
  background-color: #509ee2;
  color: white !important;
  border: none;
}

.section_5 .section_5_our_service .row .srevice_1:hover p {
  color: white;
}

.section_5 .section_5_our_service .row .srevice_1:hover svg {
  fill: white !important;
}

.section_5 .section_5_our_service_img {
  width: 120%;
  position: relative;
  right: 100px;
}

.section_5 .section_5_our_service_img img {
  height: auto !important;
  box-shadow: 0px 0px 5px 0px black;
  border: 7px;
}

.section_5 .section_5_our_service_img img:hover {
  box-shadow: 0px 0px 5px 0px black;
}

@media only screen and (max-width: 768px) {
  .section_5 .srevice_1 {
    margin-left: auto;
    margin-right: auto;
  }
  .section_5 .section_5_our_service_img {
    width: 80%;
    margin: auto;
    left: 0;
  }
}

.section_6 {
  margin-top: 100px;
  padding: 80px 0px;
  background-image: url("../img/our_offers/hero_index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/our_offers/hero_index.jpg);
  background-attachment: fixed;
}

.section_6 .section_6__content {
  text-align: end;
}

.section_6 .section_6__content h1 {
  width: 50%;
  margin-left: auto;
  color: white;
}

.section_6 .section_6__content .btn {
  background-color: #509ee2 !important;
  color: white !important;
  padding: 13px 40px;
}

.section_6 .section_6__content .btn:hover {
  background-color: white !important;
  color: #509ee2 !important;
}

@media only screen and (max-width: 768px) {
  .section_6 .section_6__content {
    text-align: center;
  }
  .section_6 .section_6__content h1 {
    width: 100%;
  }
}

.section_7 .section_7__content {
  width: 70%;
  margin: 50px auto;
}

.section_7 .section_7__content h2,
.section_7 .section_7__content p {
  padding-bottom: 15px;
}

.section_7 .section_7__content input {
  border: 1px solid black;
  width: 65%;
  height: 51px;
  border-radius: 4px;
  padding: 0px 20px;
}

.section_7 .section_7__content .btn {
  background-color: #509ee2 !important;
  color: white !important;
  padding: 14px 40px;
}

.section_7 .section_7__content .btn:hover {
  background-color: white !important;
  color: #509ee2 !important;
  border: 1px solid #509ee2 !important;
}

@media only screen and (max-width: 560px) {
  .section_7 .section_7__content {
    width: 90%;
    text-align: center;
  }
  .section_7 .section_7__content input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.video_secion {
  background-image: url("../img/background_home/hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  margin-top: 40px;
  padding: 35px 0px;
  margin-top: 200px;
}

.video_secion p {
  color: black;
}

.video_secion video {
  width: 120%;
  position: relative;
  bottom: 70px;
  box-shadow: 0px 0px 6px 1px black;
}

.video_secion .conetnt {
  background-color: white;
  margin-left: auto;
  padding: 40px;
  border-radius: 10px;
}

.video_secion .conetnt .btn {
  color: white !important;
}

.video_secion .conetnt .btn:hover {
  color: #509ee2 !important;
}

.zone_connexion_1 .btn {
  display: block;
  width: 70%;
  background-color: #509ee2 !important;
  color: white !important;
  padding: 15px 40px;
  border-radius: 7px;
  margin-top: 15px;
}

.zone_connexion_1 .btn:hover {
  background-color: white !important;
  color: #509ee2 !important;
  border: 1px solid #509ee2 !important;
}
