.footer {
    background-color: #f7f8fa;
    color: $primary-200;
    padding-top: 80px;
    .row {
        align-items: flex-start;
    }
    .footer_content {
        padding-bottom: 50px;
        border-bottom: 1px solid black;
    }
    p {
        color: $primary-200;
    }
    li {
        padding: 15px 0px;
        cursor: pointer;
        &:hover {
            color: #509ee2;
        }
        svg {
            margin: 0px 10px !important;
            cursor: pointer;
            &:hover {
                height: 55px;
                width: 55px;
            }
        }
    }
    .copy {
        padding: 30px 0px 50px 0px;
        p {
            text-align: end;
        }
        .row {
            align-items: center;
        }
    }
    @media only screen and (max-width: 560px) {
        text-align: center;
        p {
            text-align: center !important;
        }
    }
}