.dashboard {
    display: flex;
    // flex-wrap: 15px;
    padding: 25px 50px;
    .sidebar {
        width: 18%;
        background-color: $primary-200;
        height: 95vh;
        border-radius: 20px;
        padding-top: 100px;
        .item_menu {
            padding: 18px 0px;
            text-align: center;
            color: white;
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            transition: ease-out 0.6s;
            &:hover {
                background-color: white;
                color: $primary-100;
                border: none;
                border-right: 8px solid $primary-100;
            }
        }
    }
    .managment {
        width: 80%;
        background-color: white;
        box-shadow: 0px 0px 7px 3px black;
        height: 95vh;
        border-radius: 20px;
        margin-left: auto;
        padding: 30px 50px;
        color: $primary-200;
        text-align: center;
        .card {
            box-shadow: 0px 0px 5px 1px black;
            background-color: $primary-100;
            padding: 15px 0px;
            height: 125px;
            color: white;
            text-align: center;
        }
        input {
            border: 1px solid $primary-200;
            height: 48px;
            border-radius: 10px;
            padding-left: 20px;
            margin-bottom: 30px;
            width: 30%;
            &:hover,
            &:focus {
                border: 1px solid rgb(51, 133, 241);
                box-shadow: 0px 0px 1px 0px black;
            }
        }
        h2 {
            font-family: 'RowanMaskide';
            color: $primary-200;
            font-size: 40px;
        }
        .back_to_home {
            position: relative;
            top: 40px;
            width: 100% !important;
        }
        .zone_table {
            text-align: center;
            padding-top: 60px;
            text-align: -moz-center;
            text-align: -webkit-center;
            height: 560px;
            overflow: scroll;
            .row {
                align-items: initial;
                .col-xxl-6 {
                    text-align: -moz-center;
                }
            }
            table {
                border: none;
                border-collapse: collapse;
                padding: 0;
                border-left: none;
                border-right: none;
                th {
                    background-color: $primary-200;
                    color: white;
                    text-align: center;
                    font-size: 1rem;
                    padding: 20px 30px;
                    border: 1px solid $primary-200;
                }
                td {
                    background-color: white;
                    color: black;
                    padding: 20px 30px;
                    text-align: center;
                    border: 1px solid $primary-200;
                    .icon_crud {
                        a {
                            svg {
                                &:hover {
                                    fill: $primary-100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}