.our_offers {
    height: 70vh !important;
    .hero {
        width: 40%;
        float: right;
        color: white !important;
        h1 {
            font-size: 60px;
        }
        p {
            color: white;
        }
        .btn {
            padding: 10px 30px !important;
            color: white;
            &:hover {
                background-color: white !important;
                color: $primary-100 !important;
            }
        }
    }
}