.reclamation {
    // height: 700px;
    input {
        margin: 10px 0px !important;
    }
    textarea {
        height: 150px;
        padding-top: 10px;
    }
    .zone_btn {
        margin-top: 40px;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
    }
}